<!doctype html>
<meta charset='utf-8'>
<title>Nansen Legacy Excel sheet checker</title>
<style>
body{ 
	font: 16px/1.4 "Helvetica Neue", helvetica, sans-serif;
 	width: 90%; 
 	margin: 0 auto; 
 }
fieldset{
	float:left;
	margin-top: 1em; 
	width: 45%; 
	box-sizing: border-box; 
}
fieldset label{ 
	display: block;
	float: left;
	width: 24em;
	margin-right: 1em;
}
fieldset legend{ 
	font-weight: bold;
	text-transform: uppercase;
}
main{ 
	width: 60%;
}
.wrapper{
    margin: auto;
    width: 100%;
    padding:10px;
}
</style>
<main>
<h1>Nansen Legacy Excel sheet checker</h1>
<a href="http://10.3.65.20/index.html">Back to index</a><br>
<p>Choose the correct file and upload it</p>
<form method="post" enctype="multipart/form-data">
    <input id="fileupload" name="myfile" type="file" />
    <input type="submit" value="submit" id="submit" />
</form>
</main>

<footer>

</footer>
