<!doctype html>
<meta charset='utf-8'>
<title>Nansen Legacy Label printing</title>
<style>
body{ 
	font: 16px/1.4 "Helvetica Neue", helvetica, sans-serif;
 	width: 90%; 
 	margin: 0 auto; 
 }
fieldset{
	float:left;
	margin-top: 1em; 
	width: 45%; 
	box-sizing: border-box; 
}
fieldset label{ 
	display: block;
	float: left;
	width: 24em;
	margin-right: 1em;
}
fieldset legend{ 
	font-weight: bold;
	text-transform: uppercase;
}
main{ 
	width: 60%;
}
.wrapper{
    margin: auto;
    width: 100%;
    padding:10px;
}
</style>
<script>
function getTime() {
    var d = Date.now()/1000;
    document.getElementById("print").value = d;
}
</script>
<main>
<h1>Nansen Legacy Label printing</h1>
<h2>This is for the large labels (25x51mm)</h2>
<a href="../../index.html">Back to index</a><br>
<a href="print.cgi?setup=M">Print medium labels</a><br>
<p>Input the text in the fields.</p>
<form method=post>
    <p><button onclick="getTime()" type="submit" name="print" id="print" value='1'>Print Label</button><br>
    <br>
    <table>
        <tr>
            <th>Line 1:</th>
            <th><input type="text" name="text1" value="${texts['text1']}" maxlength="21"></th>
        </tr>
        <tr>
            <th>Line 2:</th>
            <th><input type="text" name="text2" value="${texts['text2']} " maxlength="21"></th>
        </tr>
        <tr>
            <th>Line 3:</th>
            <th><input type="text" name="text3" value="${texts['text3']}" maxlength="21"></th>
            <th><input type=checkbox value=y name="increment" 
            % if incr:
                checked
             %endif
             ></th>
            <th>Increment (needs to be only a number, can have leading zeros e.g. 0001)</th>
        </tr>
        <tr>
            <th>Line 4:</th>
            <th><input type="text" name="text4" value="${texts['text4']}" maxlength="30"></th>
        </tr>
        <tr>
            <th>Line 5 (Name):</th>
            <th><input type="text" name="text5" value="${texts['text5']}" maxlength="36"></th>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <th>Number of labels:</th>
            <th><input type="text" name="n" value="1"></th>
        </tr>
        <tr>
            <th>Printer IP:</th>
            <!--
            <th> <input type="text" name="ip" value="10.3.64.126" ></th>
            <th> <input type="text" name="ip" value="158.39.46.218" ></th>
            -->
            <th> <input type="text" name="ip" value="10.3.64.126" ></th>
        </tr>
    </table>
</form>
</main>

<footer>

</footer>
