<!doctype html>
<meta charset='utf-8'>
<title>Nansen Legacy UUID Genenerator</title>
<style>
body{ 
	font: 16px/1.4 "Helvetica Neue", helvetica, sans-serif;
 	width: 90%; 
 	margin: 0 auto; 
 }
fieldset{
	float:left;
	margin-top: 1em; 
	width: 45%; 
	box-sizing: border-box; 
}
fieldset label{ 
	display: block;
	float: left;
	width: 24em;
	margin-right: 1em;
}
fieldset legend{ 
	font-weight: bold;
	text-transform: uppercase;
}
main{ 
	width: 60%;
}
.wrapper{
    margin: auto;
    width: 100%;
    padding:10px;
}

</style>
<main>
<h1>Nansen Legacy UUID Generator</h1>
<a href="../../index.html">Back to index</a><br>
<p><bold> This is for use where no labels are used </bold></p>
<p> ${str(uuid.uuid1())}</p>
<p> ${str(uuid.uuid1())}</p>
<p> ${str(uuid.uuid1())}</p>
<p> ${str(uuid.uuid1())}</p>
<form method=post>
<p><input type=submit value='Get new UUID'>
<div class="wrapper">
</div>
</form>
</main>

<footer>

</footer>
